---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout titleDoc="Health Check" className="flex flex-col items-center justify-center min-h-screen font-[Work_Sans]">
    <h1 class="text-3xl font-bold text-blue-500">
        🚀 Bienvenido a la API Delivery
    </h1>
    <p class="mt-2 text-slate-600">Todo listo para empezar</p>
    <div class="mt-6 flex gap-4">
        <a
            href="https://github.com/IgmarLozadaBolivar/delivery/blob/master/api/delivery_api.yaml"
            class="bg-blue-500 text-white px-4 py-2 rounded-lg"
            >📖 Documentación</a
        >
        <a
            href="https://github.com/IgmarLozadaBolivar/delivery/blob/master/api/README.md"
            class="bg-green-500 text-white px-4 py-2 rounded-lg"
            >✅ Health Check</a
        >
    </div>
</BaseLayout>
